// -------------- //
// AnimatedArrow.js SCSS //
// -------------- //

@import "../../scss/variables.scss";

.animated-arrow {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeIn 20s;
  cursor: pointer;
}

.light {
  color: $smoke-color;
}
.dark {
  color: $sky-color;
}

.animated-arrow img {
  height: 3rem;
  animation: goDown 2s infinite;
}

.animated-arrow p {
  font-size: 1.4rem;
}

/* ------------------------------------------ */

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .animated-arrow img {
    height: 2.8rem;
  }
  .animated-arrow p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .animated-arrow {
    bottom: 3rem;
  }
  .animated-arrow img {
    height: 2.6rem;
  }
  .animated-arrow p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 480px) {
  .animated-arrow {
    bottom: 2rem;
  }
  .animated-arrow img {
    height: 2.2rem;
  }
  .animated-arrow p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 414px) {
}

@media screen and (max-width: 360px) {
}

@media screen and (max-height: 500px) {
  .animated-arrow {
    display: none;
  }
}
