@import "../../scss/variables.scss";

.animated-arrow {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeIn 20s;
  cursor: pointer;
}

.animated-arrow img {
  height: 3rem;
  animation: goDown 2s infinite;
}

.animated-arrow p {
  color: $white-color;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
