// -------------- //
// CarrouselArrow.js SCSS //
// -------------- //

@import "../../scss/variables.scss";

.circle {
  height: 4rem;
  width: 4rem;
  background-color: $smoke-dark-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;

  &:hover {
    background-color: $smoke-dark-color-opacity;
  }
}

.circle-left {
  top: 50%;
  left: 2rem;
  transform: translate(0, -50%);
}

.circle-right {
  top: 50%;
  right: 2rem;
  transform: translate(0, -50%);
}

/* ------------------------------------------ */

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .circle {
    height: 3.5rem;
    width: 3.5rem;
  }
}
