// -------------- //
// Content.js SCSS //
// -------------- //

@import "../../scss/variables.scss";

.absolute-content {
  color: $white-color;
  position: absolute;
  top: 30vh;
  padding: 0 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
