@import "../../scss/variables.scss";

.particles {
  height: 100vh !important;
}

.part-one {
  height: 100vh;
  position: relative;
  background-position: 0% 0%;
  background: linear-gradient(
    to top right,
    $gradient-main-color,
    $main-dark-bg-color 40%
  );
}

/* Titles */
.part-one .titles {
  color: $white-color;
  position: absolute;
  top: 30vh;
  padding: 0 4rem;
}

h1 {
  margin-bottom: 2rem;
  animation: rightApparition 4s;
  width: 100%;
}
@keyframes rightApparition {
  from {
    margin-left: 50%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

/* Menu */
.part-one .menu {
  position: absolute;
  top: 0;
  right: 10rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: $white-color;
}

.part-one .menu h3 {
  animation: fadeIn 8s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
