@import "../scss/variables.scss";

.scroll-snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  /* Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar */
  &::-webkit-scrollbar {
    display: none;
  }
  .snap-element {
    scroll-snap-align: start;
  }
}

.particles {
  height: 100vh !important;
}

.container {
  height: 100vh;
  position: relative;
  background: $main-bg-color;
  background: radial-gradient(
    circle,
    $main-bg-color 0%,
    $main-dark-bg-color 100%
  );

  /* Flags */
  .languages {
    position: absolute;
    top: 2vh;
    left: 2vw;
    img:first-child {
      margin-right: 1vw;
    }
  }

  /* Main content */
  .main-content {
    color: $white-color;
    position: absolute;
    top: 30vh;
    padding: 0 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Menu */
  .menu {
    position: absolute;
    top: 0;
    right: 4rem;
    margin-top: 2rem;
    display: flex;
    color: $white-color;
  }
}

// @media screen and (max-width: 480px) {
//   .home {
//     /* Titles */
//     .titles {
//       left: 50%;
//       transform: translateX(-50%);
//       top: 10rem;
//       width: 100%;
//       h1,
//       h2 {
//         text-align: center;
//       }
//     }
//     /* Menu */
//     .menu {
//       border: solid orange 3px;
//       height: auto;
//       top: 60%;
//       right: 50%;
//       transform: translate(50%, -50%);
//       align-items: center;
//       a {
//         margin-bottom: 4rem;
//       }
//     }
//   }
// }
