@import "variables.scss";

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $noto-font, "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar */
body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: $white-color;
}

h1 {
  @extend %bold-baskerville;
  font-size: 8rem;
  margin-bottom: 2rem;
  animation: rightApparition 4s;
  width: 100%;
}

h3 {
  font-size: 3.6rem;
  font-weight: 300;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
}
