// -------------- //
// Global Rules //
// -------------- //

@import "variables.scss";

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  @extend %regular-noto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $white-color;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

h1 {
  @extend %bold-baskerville;
  font-size: 6vw;
  margin-bottom: 2rem;
  color: $white-color;
}

// Make h1 letters appear one by one
h1 {
  @for $i from 1 through 14 {
    span:nth-child(#{$i}) {
      animation: (3s + $i) fadeIn;
    }
  }
}

h2 {
  font-size: 2vw;
  font-weight: 300;
  animation: fadeIn 16s;
  color: $main-xtra-light-color;
}

h3 {
  font-size: 2.6vw;
  color: $main-xtra-light-color;
  animation: fadeIn 8s;
}
