// SCSS Variables

// Fonts
$noto-font: "Noto Sans JP";
$baskerville-font: "Libre Baskerville";

// Colors
$main-dark-bg-color: #1c131d;
$main-bg-color: #271b28;
$gradient-main-color: rgb(52, 36, 54);
$main-color: #ff952b;
$white-color: #fff;
