// -------------- //
// SCSS Variables //
// -------------- //

/* FONTS */

// Noto font
$noto-font: "Noto Sans JP", "Helvetica Neue", sans-serif;
%thin-noto {
  font-family: $noto-font;
  font-weight: 300;
}
%regular-noto {
  font-family: $noto-font;
  font-weight: 400;
}
%bold-noto {
  font-family: $noto-font;
  font-weight: 700;
}

// Baskerville font
$baskerville-font: "Libre Baskerville", sans-serif;
%reg-baskerville {
  font-family: $baskerville-font;
  font-weight: 400;
}
%bold-baskerville {
  font-family: $baskerville-font;
  font-weight: 700;
}

/* ------------------------------------------ */

/* COLORS */
$sky-dark-color-opacity: #020024b3;
$sky-color-opacity: #081f3ab3;
$sky-color: #0b193f;

$star-color: #ff952b;
$star-light-color: #ffc386;
$star-xtra-light-color: #fde3c6;
$fire-color: #e84c3b;

$white-color: #fff;

/* ------------------------------------------ */

/* KEYFRAMES */
@keyframes rightApparition {
  from {
    margin-left: 20%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes goDown {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 1.5rem);
    opacity: 0;
  }
}
