@import "../../scss/variables.scss";

.link {
  font-size: 1.6rem;
}

.link a {
  text-decoration: none;
  margin-left: 2rem;
}

.link img {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.link span {
  color: white;
}
